* {
padding: 20px;
}


.sidebar h2 {
margin-bottom: 30px;
}


.sidebar a {
display: block;
color: #cbd5e1;
text-decoration: none;
margin-bottom: 15px;
}


.sidebar a:hover {
color: #fff;
}


/* Conteúdo */
.content {
flex: 1;
padding: 20px;
}


/* Cards */
.cards {
display: flex;
gap: 20px;
margin-bottom: 25px;
}


.card {
flex: 1;
padding: 20px;
border-radius: 8px;
color: #fff;
}


.card.receita { background: #16a34a; }
.card.despesa { background: #dc2626; }
.card.saldo { background: #2563eb; }


/* Filtros */
.filtros {
background: #fff;
padding: 15px;
border-radius: 8px;
display: flex;
gap: 10px;
margin-bottom: 20px;
}


.filtros select,
.filtros button {
padding: 8px;
}


/* Tabela */
table {
width: 100%;
background: #fff;
border-radius: 8px;
border-collapse: collapse;
}


th, td {
padding: 12px;
border-bottom: 1px solid #e5e7eb;
}


.valor-receita { color: #16a34a; font-weight: bold; }
.valor-despesa { color: #dc2626; font-weight: bold; }